body {
  font-family: Arial;
  text-align: center;
  background-color: #fff0f5;
}
body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #fff0f5, #ffe4e1);
}

h1, h2 {
  color: #d63384;
}

button {
  background-color: #ff69b4;
  color: white;
  cursor: pointer;
}
section {
  padding: 50px;
}

button {
  padding: 10px 20px;
  background-color: pink;
  border: none;
  border-radius: 10px;
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: aparecer 1.5s ease forwards;
}

@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
